/* Use your own code or past solution for Great Idea Web Page CSS here! */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Set every element's box-sizing to border-box */

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Mobile First FTW! */

a {
    text-decoration: none;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    font-size: 20px;
}

nav .menu {
    order: 2;
    width: 100%;
    margin-top: 17px;
    text-align: center;
}

nav .menu li a {
    display: inline-block;
    width: 100%;
    padding: 20px 0;
    border-top: 1px solid #999;
    color: #999;
}

nav .menu li:last-child {
    border-bottom: 1px solid #999;
}

nav .menu li a {
    color: #999;
}

nav .menu li a:hover {
    background-color: #000;
    color: #fff;
}

.hero {
    margin: 0 20px;
    padding: 0 0 75px 0;
    border-bottom: 2px solid #000;
}

.left {
    margin: 30px 0 0;
    text-align: center;
}

.left h1 {
    font-size: 72px;
}

a.hero_link {
    display: inline-block;
    margin: 10px 0 0;
    padding: 7px 45px;
    border: 1px solid #000;
    color: #000;
}

a.hero_link:hover {
    background-color: #000;
    color: #fff;
}

.right {
    display: none;
}

.top, .bottom {
    margin: 60px 20px 10px 20px;
}

.top article, .bottom article {
    margin: 0 0 55px 0;
}

.middle-img {
    width: 100%;
    padding: 0 20px;
}

.bottom {
    border-bottom: 2px solid #000;
}

footer {
    margin: 0 20px 20px 20px;
    padding: 30px 0 0 0;
}

.copyright {
    margin: 30px 0 0 0;
    text-align: center;
}

/* Tablet */

@media (min-width: 500px) {
    nav .menu {
        padding: 0px;
        display: flex;
        justify-content: space-evenly;
        font-size: 18px;
    }
    nav .menu li a {
        padding: 5px 8px;
    }
    nav .menu li a, nav .menu li:last-child {
        border: none;
    }
    .left {
        margin: 50px 0 0;
    }
    .top, .bottom {
        display: flex;
    }
    .top, .bottom {
        margin: 35px 20px 15px 20px;
    }
    .bottom {
        padding: 0 0 20px 0;
    }
    .top article, .bottom article {
        padding: 0 10px;
        margin: 0 0 25px 0;
    }
}

/* Desktop */

@media (min-width: 800px) {
    .container {
        max-width: 1024px;
        margin: 0 auto;
        padding: 0 20px;
    }
    nav {
        flex-direction: row;
        margin: 20px 0 0 0;
    }
    nav .menu {
        order: 0;
        align-content: center;
        margin: 0;
        justify-content: flex-start;
    }
    nav .menu li {
        margin: 0 10px;
    }
    .hero {
        display: flex;
        justify-content: space-evenly;
        margin: 50px 0 0 0;
    }
    .right {
        display: block;
    }
}